/*Каркас сайта*/
body {
    padding:0px;
    margin:0;
    background: #0D0D0D;
    background-image: url(images/bg.png);
    background-size: 100%;
    font-size:14px;
    font-family:Segoe UI;
}
img {
    border:0;
}
a {
    color:#F2F2F2; /*цвет текста*/
}
a:hover {
    text-decoration:none;
}
li {
    color:#F2F2F2; /*цвет текста*/
}

/*Прелоадер*/
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #0D0D0D;
    z-index: 1001;
}
.preloader_image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
}
.loaded_hiding #preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
.loaded #preloader {
    display: none;
}

/*Центральный блок*/
#main {
    width:50%; /*Ширина*/
    min-width:360px; /*Минимальная ширина*/
    min-height:100%;
    margin:0 auto;
    margin-top: 60px;
    background:#141414;
    /*background-image: url(images/bgmain.png);
    background-position: left bottom;
    background-repeat: repeat;*/
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 10px 1px black;
}

/*Первый баннер*/
.header {
    float:center; width:100%;
}

/*Социальные ссылки*/
#social_bar_box {
    display: flex;
    justify-content: center;
}
.inline_soc {
    padding: 5px 1% 5px 1%
}
.icon {
    width: 24px; height: 24px;
}

/*Инфоблок*/
.inline_info {
    display: flex;
    justify-content: center;
}
.fox_spoiler {
    text-align: center;
    margin: 0.2em 0 1.5em 0;
}
.fox_spoiler_head {
    text-align: center;
    user-select: none;
    text-decoration: underline
}
.fox_spoiler_head:hover {
    text-decoration: none
}
.fox_spoiler_body {
    display: none;
    text-align: center;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    padding: 0.8em 0em 0.9em 0em;
    margin-top: 0.5em;
}
.fox_spoiler_body[fox_visible="1"] {
    display: block;
}
p {
    color: #F2F2F2
}

/*Галерея с обложками*/
#covers_gallery_box {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
@media screen and (min-device-width: 360px) {
    #covers_gallery_box {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
}
#cover img {
    width: 100%; margin-bottom: -8px;
}